
<h1>Listing Quotes</h1>
<%= link_to 'New quote', new_quote_path %>
 
<table>
  <% @quotes.each do |quote| %>
    <tr>
      <td><%= quote.text %></td>
      <td><%= link_to 'Show', quote_path(quote) %></td>
      <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
      <td><%= link_to 'Delete', quote_path(quote),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
